<%

var banner_img_height = parseFloat(page.banner_img_height || theme.index.banner_img_height)
var subtitle = page.subtitle || page.title
%>

<div id="BannerText" class="BannerText" <%- theme.banner && theme.banner.parallax && 'parallax=true' %>
     style="opacity: 0; no-repeat center center; background-size: cover;">
  <div class="full-bg-img">
    <div class="mask flex-center" style="background-color: rgba(0, 0, 0, 0)">
      <div class="banner-text text-center fade-in-up">
        <div class="h2">
          <% if(theme.fun_features.typing.enable && in_scope(theme.fun_features.typing.scope)) { %>
            <span id="subtitle" data-typed-text="<%= subtitle %>"></span>
          <% } else { %>
            <span id="subtitle"><%- subtitle %></span>
          <% } %>
        </div>

        <% if (is_post()) { %>
          <%- inject_point('postMetaTop') %>
        <% } %>
      </div>

      <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height && page.layout !== '404') { %>
        <div class="scroll-down-bar">
          <i class="iconfont icon-arrowdown"></i>
        </div>
      <% } %>
    </div>
  </div>

  <script>
  if(location.pathname === "/"){
    document.getElementById("BannerText").style.top = (banner.offsetHeight/2)*0.95 + "px"
  }else{
  document.getElementById("BannerText").style.top = (banner.offsetHeight/2)*0.8 + "px"}

  document.getElementById("BannerText").style.opacity=1
  </script>
</div>
